body {padding: 0px; margin: 0;}
* {transition: all 1s cubic-bezier(.25,.8,.25,1); 
font-family: 'Montserrat', sans-serif;
text-align: center;
}

body {
    background-color: black;
    height: 100%;
}

.screen {
    height: 100%; width: 100vw;}

.card {width: 100%; display: block;
transform-style: preserve-3d; height: 100%;
}

.dcard {position: relative; display: block;
  height: 100vh;
    width: 100vw;
 perspective: 800px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    z-index: 100;
}

.stat {
    text-align: center !important;
    font-size: 125px !important;
    color: #d3f971 !important;
}

button:hover {
    cursor: pointer;
}

.text-box {
    margin-top: 200px;
}

.col-md-12, .col-md-4 {margin-bottom: 30px;}

.col-md-12 .dcard {perspective: 3000px;}

.frame {display: block; width: 100%;   
  position: absolute; top: 10%; left: 50%; transform: translateX(-50%);     transform-style: preserve-3d; 
} 

a.btn {background: #d3f971; border-radius: 30px; color: #000; padding: 10px 20px; line-height: 36px; text-decoration: none; margin: 0px 10px;} 
a.btn-ghost {background: #000; border-radius: 30px; color: #d3f971; border: 2px solid #d3f971; padding: 10px 20px;}

p {
  color: #fff;   
  width: 60%; 
  display: block;
  margin: 20px auto;
  font-size: 75px;
  text-align: right; 
  font-weight: bold;
}
p:nth-child(odd) {
  text-align: left;
  transform: translateZ(70px); position: relative;

}

p:nth-child(1) {
  color: #d3f971;
}
p:nth-child(2) {
  color: #4b917d;
}
p:nth-child(3) {
  color: #fff;
}
p:nth-child(4) {
  color: #ee209c;
}

.text-box:nth-child(odd) {
  text-align: left;
  transform: translateZ(70px); position: relative;
}

p.underline {font-size: 28px; text-align: center; margin-top: 50px; color: #d3f971;}

.trigger {position: absolute; height: 33.333333%; width: 33.333333%; display: block; z-index: 2; 
    /* pointer-events: none; */


  &:nth-child(1){  left: 0%; top: 0%;
    &:hover ~ .card {transform: rotateY(8deg) rotateX(-5deg);}
   }
  &:nth-child(2){  left: 33.333333%; top: 0%;
    &:hover ~ .card {transform: rotateY(0deg) rotateX(-5deg);;}
   }
  &:nth-child(3){  left: 66.666666%; top: 0%;
    &:hover ~ .card {transform: rotateY(-8deg) rotateX(-5deg);}
   }
  &:nth-child(4){  left: 0%; top: 33.333333%;
    &:hover ~ .card {transform: rotateY(8deg);}
   }
  &:nth-child(5){  left: 33.333333%; top: 33.333333%;
    &:hover ~ .card {transform: rotateY(0deg) rotateX(0deg);}
   }
  &:nth-child(6){  left: 66.666666%; top: 33.333333%;
    &:hover ~ .card {transform: rotateY(-8deg) rotateX(0deg);}
   }
  &:nth-child(7){  left: 0%; top: 66.666666%;
    &:hover ~ .card {transform: rotateY(8deg) rotateX(5deg);}
   }
  /* &:nth-child(8){  left: 33.333333%; top: 66.666666%;
    &:hover ~ .card {transform: rotateY(0deg) rotateX(5deg);}
   } */
  &:nth-child(9){  left: 66.666666%; top: 66.666666%;
    &:hover ~ .card {transform: rotateY(-8deg) rotateX(5deg);}
   }
}